// https://www.latextemplates.com/templates/books/2/book_2.pdf

.math-block
    .math-block-title
        font-weight 600
        margin-bottom -0.4rem
    &.def 
    
    &.lemma
        padding .1rem 1.5rem
        border-left-width .5rem
        padding-right: 0rem
        border-left-style solid
        margin 1rem 0
    &.lemma
        background-color rgba(102,128,153,.05)
        border-color #D6DBDF 
        //color darken(#ffe564, 70%)
    .math-block-title
        //color darken(#ffe564, 50%)
    a
        color $textColor
